{:paths ["src/clj" "src/cljc" "dev"]
 :deps  {tic_tac_toe/tic_tac_toe {:local/root "."}}
 :pods  {org.babashka/postgresql {:version "0.1.0"}}
 :tasks {create-db {:doc      "Initializes the SQL Database"
                    :requires ([tic-tac-toe.create-db :as create-db])
                    :task     (create-db/-main)}
         spec      {:extra-paths ["spec/bb" "spec/clj" "spec/cljc"]
                    :extra-deps  {speclj/speclj {:mvn/version "3.12.0"}}
                    :requires    ([speclj.main :as main])
                    :task        (apply main/-main "-c"
                                   "-s" "src/clj"
                                   "-s" "src/cljc"
                                   "spec/bb"
                                   "spec/clj"
                                   "spec/cljc"
                                   *command-line-args*)}

         game      {:requires ([tic-tac-toe.tui-game :as game])
                    :task     (game/start-game *command-line-args*)}}
 }