{:board-size :3x3x3, :X :expert-ai, :O :human, :board [[["1" "2" "3"] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] ["13" "14" "15"] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] ["25" "26" :X]]], :current-token :O, :depth 1, :game-id "36f95bcd-e00c-478c-b015-27bf6726f858"}
{:board-size :3x3x3, :X :expert-ai, :O :human, :board [[["1" "2" "3"] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] ["13" :O "15"] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] ["25" "26" :X]]], :current-token :X, :depth 2, :game-id "36f95bcd-e00c-478c-b015-27bf6726f858"}
{:board-size :3x3x3, :X :expert-ai, :O :human, :board [[["1" "2" "3"] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] ["13" :O "15"] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] ["25" :X :X]]], :current-token :O, :depth 3, :game-id "36f95bcd-e00c-478c-b015-27bf6726f858"}
{:board-size :3x3x3, :X :expert-ai, :O :human, :board [[["1" "2" "3"] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] ["13" :O "15"] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] [:O :X :X]]], :current-token :X, :depth 4, :game-id "36f95bcd-e00c-478c-b015-27bf6726f858"}
{:board-size :3x3x3, :X :expert-ai, :O :human, :board [[["1" "2" :X] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] ["13" :O "15"] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] [:O :X :X]]], :current-token :O, :depth 5, :game-id "36f95bcd-e00c-478c-b015-27bf6726f858"}
{:board-size :3x3x3, :X :expert-ai, :O :human, :board [[["1" "2" :X] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] ["13" :O :O] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] [:O :X :X]]], :current-token :X, :depth 6, :game-id "36f95bcd-e00c-478c-b015-27bf6726f858"}
{:board-size :3x3x3, :X :expert-ai, :O :human, :board [[["1" "2" :X] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] [:X :O :O] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] [:O :X :X]]], :current-token :O, :depth 7, :game-id "36f95bcd-e00c-478c-b015-27bf6726f858"}
{:board-size :3x3x3, :X :expert-ai, :O :human, :board [[["1" "2" :X] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] [:X :O :O] ["16" "17" :O]] [["19" "20" "21"] ["22" "23" "24"] [:O :X :X]]], :current-token :X, :depth 8, :game-id "36f95bcd-e00c-478c-b015-27bf6726f858"}
{:board-size :3x3x3, :X :expert-ai, :O :human, :board [[["1" "2" :X] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] [:X :O :O] ["16" "17" :O]] [["19" "20" "21"] ["22" "23" :X] [:O :X :X]]], :current-token :O, :depth 9, :game-id "36f95bcd-e00c-478c-b015-27bf6726f858"}
{:board-size :3x3x3, :X :expert-ai, :O :human, :board [[["1" "2" :X] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" :O] [:X :O :O] ["16" "17" :O]] [["19" "20" "21"] ["22" "23" :X] [:O :X :X]]], :current-token :X, :depth 10, :game-id "36f95bcd-e00c-478c-b015-27bf6726f858"}
{:board-size :3x3x3, :X :human, :O :expert-ai, :board [[["1" "2" "3"] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] ["13" "14" "15"] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] ["25" "26" :O]]], :current-token :X, :depth 1, :game-id "0039db40-d6e3-434a-87d1-3b658057b6ad"}
{:board-size :3x3x3, :X :human, :O :expert-ai, :board [[["1" "2" "3"] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] ["13" :X "15"] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] ["25" "26" :O]]], :current-token :O, :depth 2, :game-id "0039db40-d6e3-434a-87d1-3b658057b6ad"}
{:board-size :3x3x3, :X :human, :O :expert-ai, :board [[["1" "2" "3"] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] ["13" :X "15"] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] ["25" :O :O]]], :current-token :X, :depth 3, :game-id "0039db40-d6e3-434a-87d1-3b658057b6ad"}
{:board-size :3x3x3, :X :human, :O :expert-ai, :board [[["1" "2" "3"] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] ["13" :X "15"] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] [:X :O :O]]], :current-token :O, :depth 4, :game-id "0039db40-d6e3-434a-87d1-3b658057b6ad"}
{:board-size :3x3x3, :X :human, :O :expert-ai, :board [[["1" "2" :O] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] ["13" :X "15"] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] [:X :O :O]]], :current-token :X, :depth 5, :game-id "0039db40-d6e3-434a-87d1-3b658057b6ad"}
{:board-size :3x3x3, :X :human, :O :expert-ai, :board [[["1" "2" :O] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] ["13" :X :X] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] [:X :O :O]]], :current-token :O, :depth 6, :game-id "0039db40-d6e3-434a-87d1-3b658057b6ad"}
{:board-size :3x3x3, :X :human, :O :expert-ai, :board [[["1" "2" :O] ["4" "5" "6"] ["7" "8" "9"]] [["10" "11" "12"] [:O :X :X] ["16" "17" "18"]] [["19" "20" "21"] ["22" "23" "24"] [:X :O :O]]], :current-token :X, :depth 7, :game-id "0039db40-d6e3-434a-87d1-3b658057b6ad"}
