{:game-id "ceaf1ef2-d03e-4284-a1fe-f28360bceccd", :turn-count 1, :board-size :3x3, :X :easy-ai, :O :easy-ai, :current-token :O, :board [["1" :X "3"] ["4" "5" "6"] ["7" "8" "9"]]}
{:game-id "ceaf1ef2-d03e-4284-a1fe-f28360bceccd", :turn-count 2, :board-size :3x3, :X :easy-ai, :O :easy-ai, :current-token :X, :board [[:O :X "3"] ["4" "5" "6"] ["7" "8" "9"]]}
{:game-id "ceaf1ef2-d03e-4284-a1fe-f28360bceccd", :turn-count 3, :board-size :3x3, :X :easy-ai, :O :easy-ai, :current-token :O, :board [[:O :X "3"] ["4" "5" "6"] [:X "8" "9"]]}
{:game-id "ceaf1ef2-d03e-4284-a1fe-f28360bceccd", :turn-count 4, :board-size :3x3, :X :easy-ai, :O :easy-ai, :current-token :X, :board [[:O :X "3"] ["4" "5" :O] [:X "8" "9"]]}
{:game-id "ceaf1ef2-d03e-4284-a1fe-f28360bceccd", :turn-count 5, :board-size :3x3, :X :easy-ai, :O :easy-ai, :current-token :O, :board [[:O :X :X] ["4" "5" :O] [:X "8" "9"]]}
{:game-id "ceaf1ef2-d03e-4284-a1fe-f28360bceccd", :turn-count 6, :board-size :3x3, :X :easy-ai, :O :easy-ai, :current-token :X, :board [[:O :X :X] ["4" "5" :O] [:X "8" :O]]}
{:game-id "ceaf1ef2-d03e-4284-a1fe-f28360bceccd", :turn-count 7, :board-size :3x3, :X :easy-ai, :O :easy-ai, :current-token :O, :board [[:O :X :X] ["4" :X :O] [:X "8" :O]]}
{:game-id "14574782-8c13-4006-b699-f9d63794ecda", :turn-count 1, :board-size :3x3, :X :human, :O :expert-ai, :current-token :O, :board [[:X "2" "3"] ["4" "5" "6"] ["7" "8" "9"]]}
{:game-id "14574782-8c13-4006-b699-f9d63794ecda", :turn-count 2, :board-size :3x3, :X :human, :O :expert-ai, :current-token :X, :board [[:X "2" "3"] ["4" :O "6"] ["7" "8" "9"]]}
{:game-id "14574782-8c13-4006-b699-f9d63794ecda", :turn-count 3, :board-size :3x3, :X :human, :O :expert-ai, :current-token :O, :board [[:X :X "3"] ["4" :O "6"] ["7" "8" "9"]]}
{:game-id "14574782-8c13-4006-b699-f9d63794ecda", :turn-count 4, :board-size :3x3, :X :human, :O :expert-ai, :current-token :X, :board [[:X :X :O] ["4" :O "6"] ["7" "8" "9"]]}
{:game-id "14574782-8c13-4006-b699-f9d63794ecda", :turn-count 5, :board-size :3x3, :X :human, :O :expert-ai, :current-token :O, :board [[:X :X :O] [:X :O "6"] ["7" "8" "9"]]}
{:game-id "14574782-8c13-4006-b699-f9d63794ecda", :turn-count 6, :board-size :3x3, :X :human, :O :expert-ai, :current-token :X, :board [[:X :X :O] [:X :O "6"] [:O "8" "9"]]}
